<div class="resume-container">
  <div class="resume-header">
    <img src="../assets/imgPerfil.png" id="imgPerfil">
    <h1>Diogo Garcia Pontes</h1>
    <p class="subtitle">Estudante de análise e desenvolvimento de sistemas</p>
  </div>
  <div class="resume-section">
    <h2>Resumo</h2>
    <p>
      Profissional proativo e dedicado com experiência em hardware e conhecimento básico em redes. Com habilidade em liderança, comunicação, identificação e resolução de problemas. 
    </p>
    <p>
      Com interesse principalmente na área de segurança da informação e wifi hacking.
    </p>
  </div>
  <div class="resume-section">
    <h2>Habilidades</h2>
    <ul>
      <li>Git</li>
      <li>Hardware</li>
      <li>Redes</li>
      <li>Conhecimentos básicos em criação de páginas web</li>
      <li>Linux</li>
    </ul>
  </div>
  <div class="resume-section">
    <h2>Experiência</h2>
    <div class="experience-item">
      <h3>Monitor de aulas de informática</h3>
      <p>Jan 2022 - Dez 2023</p>
      <p>
        Responsável por criar planos de ensino simples e ministrar aulas simples de informática para crianças e adolescentes, utilizando o SO windows.
      </p>
    </div>
  </div>
  <div class="resume-section">
    <h2>Educação</h2>
    <div class="education-item">
      <h3>Técnico em Desenvolvimento de sistemas</h3>
      <p>Etec Tietê</p>
      <p>Graduado em 2022</p>
    </div>
  </div>
</div>